@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #f6f5f4;
  --color-primary-100: #e8e4e1;
  --color-primary-200: #d1c6be;
  --color-primary-300: #b5a397;
  --color-primary-400: #967f70;
  --color-primary-500: #786052;
  --color-primary-600: #4a3b32;
  --color-primary-700: #382c25;
  --color-primary-800: #261e19;
  --color-primary-900: #14100d;
}
